.App {
  text-align: center;
}

.indicator {
  position: absolute;
  left: 306px;
  height: 2rem;
  width: 3rem;
  background-color: white;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
